.metric {
  background-color: #f8f8ff;
  border: 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 900px;
  height: 100px;
  margin-bottom: 33px;
}

div.metric-name-container {
  float: left;
  display: inline;
  width: 300px;
  height: 100px;
}

h3.metric-name {
  font-size: 30pt;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
}

div.metric-snapshot {
  float: left;
  display: inline;
  width: 300px;
  height: 100px;
}

div.metric-snapshot p {
  text-align: center;
  margin-top: 20px;
}

div.metric-options {
  float: right;
  display: inline;
  width: 294px;
  height: 100px;
}

a.query-delete-button,
a.query-delete-confirm-button {
  float: right;
  margin-right: 5px;
}

a.query-delete-confirm-button {
  display: none;
}

/* rules for editing metrics */
div.metric .edit-field {
  display: none;
}

div.metric.editing .edit-field {
  display: block;
}

div.metric .edit-frequency {
  width: 107px;
  margin-left: auto;
  margin-right: auto;
}

div.metric input.edit-name {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24pt;
  margin-top: 30px;
  text-align: center;
}

div.edit-format-container,
div.edit-time-container {
  margin-top: 5px;
  margin-bottom: 20px;
}

div.edit-format-container p,
div.edit-time-container p {
  text-align: center;
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

div.edit-text-container {
  width: 100%;
}

div.edit-text-container p, div.new-text-container p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: larger;
}

input.edit-text {
  width: 700px;
  font-size: 18pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.metric a.query-edit-submit-button {
  display: none;
}

div.metric.editing h3.metric-name, div.metric.editing p.overview-metric, 
div.metric.editing a.query-edit-button {
  display: none;
}

div.metric.editing div.edit-text-container {
  display: block;
}

div.metric.editing a.query-edit-submit-button {
  display: inline;
}

/* rules for the new-metric box */
div#new-metric-container {
  height: 100px;
  width: 900px;
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

div#new-metric-container.active {
  background: white;
  border: 1px solid;
}

#new-query-create-button {
  font-size: 24pt;
}

#lt-new-metric-prompt,
#lt-prompt-shadow {
  width: 900px;
  height: 100px;
  text-align: left;
  padding-left: 100px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 24pt;
  font-family: 'Ostrich-Black';
  display: none;
}
#lt-prompt-shadow {
  display: none;
  z-index: 1000;
  position: absolute;
  opacity: 0.2;
}

div#new-metric-container.active #lt-new-metric-prompt,
div#new-metric-container.active #lt-prompt-shadow  {
  display: block;
}

div#new-metric-container.active #new-query-create-button {
  display: none;
}

/* rules for the analytics-dropdown */
a.analyze-button,
a.query-edit-button,
a.query-edit-submit-button {
  text-decoration: none;
}

a.analyze-button img,
a.query-edit-button img,
a.query-edit-submit-button img {
  height: 80px;
  margin-top: 10px;
  margin-left: 20px;
  display: inline;
}

img.analytics-loading, 
img.chart-loading {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 89px;
}

div.analyzing img.analytics-loading, 
div.analyzing img.chart-loading {
  display: block; 
}

div.analyzing.analytics-loaded img.analytics-loading,
div.analyzing.chart-loaded img.chart-loading {
  display: none;
}

div.metric div.numeric-analytics, 
div.metric div.chart {
  width: 448px;
  display: inline;
  height: 100%;
}

div.metric div.numeric-analytics {
  float: left;
  border-right: 1px solid;
}

div.metric div.chart {
  float: right;
}

div.metric div.analytics-container {
  display: none;
  height: 410px;
  margin-top: 100px;
  border-top: 1px solid;
  overflow: hidden;
}

div.metric.analyzing div.analytics-container {
  display: block;
  width: 100%;
}

div.metric div.analytics-container h2 {
  margin-top: 10px;
  margin-left: 10px;
}

div.metric table.analytics-table {
  margin-top: 10px;
}

div.metric table.analytics-table td {
  border: none;
}

div.metric div.analytics-container p {
  text-align: center;
  margin-top: 20px;
  font-size: 20pt;
  display: none;
}

div.metric.analytics-loaded div.analytics-container p {
  display: block;
}

/* CSS for the first-time intro that appears at the bottom of the page */
div#intro {
  width: 100%;
  height: 200px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  background-color: black; 
  border: 3px solid white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: larger;
  display: none;
}

div#intro h2 {
  font-size: 40pt;
  margin-top: 50px;
  font-family: 'Ostrich-Bold';
}

#intro-next-page, #intro-next-page:hover {
  text-align: center;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.intro-page {
  display:none;
}

div.intro-page.active {
  display:block;
}
