div.lt-query {
  margin-bottom: 40px;
}

.lt-data-table {
  margin-left: 20px;
  border-collapse: collapse;
}

.lt-data-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.date-cell {
  min-width: 200px;
}

.response-cell {
  min-width: 50px;
}

.new-entry {
  margin-top:10px;
  margin-left: 30px;
}

.input-row {
  display: none;
}

.new-entry-submit-button {
  display: none;
}
