div#lt-header {
  width: 941px;
  height: 50px;
}

#lt-user-actions {
  margin-top: 20px;
  width: 80px;
  float: right;
}

#lt-user-actions a {
  float: right;
}

div.page h1, div.page h2, div.page h3 {
  text-align: center;
}

h2 {
  font-family: 'Ostrich-Regular';
  font-size: 36pt;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* common styles to all pages */
#hook, #about-metrics, #contact, #login-container, #tos {
  height: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

div.page {
  display: none;
}

div.page.active {
  display: block;
}

/* the 'take a takealook' button on page 1 */
#takealook {
  width: 300px;
  height: 100px;
  background-color: #f8f8ff;
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#takealook:hover {
  background-color: #ffffff;
  cursor: pointer;
}
  
#takealook h2, .section h2, #contact-next h2 {
  font-size: 40pt;
  font-family: 'Ostrich-Black';
  margin-top: 25px;
  margin-bottom: 0px;
}

/* style for the two program buttons */
#program-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

div.section {
  border: 2px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f8f8ff;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: 100px;
  display: inline;
}

div.section h3 {
  font-family: 'Ostrich-Black';
  margin-top: 27px;
  font-size: 36pt;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* styles for the contact info page */
#contact {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#contact p {
  font-size: 36pt;
  display: block;
  text-align: center;
  margin-top: 20px;
}

#contact input {
  font-size: 30pt;
  border-radius: 5px;
  -moz-border-radius: 5px;
  font-family: 'Ostrich-Rounded';
  padding: 10px;
  width: 300px;
  padding-left: 40px;
}

#contact h1 {
  margin-bottom: 40px;
  font-size: 30pt;
}

div#contact-form, div#screenshot-container {
  display: inline;
  float: left;
  width: 448px;
  height: 300px;
}

#iphone-screenshot {
  width: 80%;
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px;
}

#contact-next {
  margin-top: 350px;
}

/* styles for the login frame page */
#login-frame {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* styles for the next-page buttons */
#takealook, #contact-next {
  width: 300px;
  height: 100px;
  background-color: #f8f8ff;
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#takealook:hover, #contact-next:hover, #casual:hover, #moderate:hover  {
  background-color: #ffffff;
  cursor: pointer;
}

/* the spinner on before the google-login redirect */
#redirecting-gif {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
