.query-edit-submit-button, .query-edit-field {
  display: none;
}

#query-list, #new-query {
  margin-bottom: 40px;
}

#new-query-form, table#query-list-table {
  margin-left: 10px;
}

table#query-list-table {
  border-spacing: 5px 5px;
  border-collapse: collapse;
}

#query-list-table {
  width: 935px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#query-list-table td {
  border: 1px solid black; 
  padding: 10px;
  text-align: center;
}

tr#query-input-row {
  display: none;
}

#query-input-row input {
  width: 90%
}

#new-query-create {
  font-size: larger;
  margin-top: 10px;
  margin-left: 30px;
}

td.name-cell {
  width: 100px;
}

td.text-cell {
  width: 400px;
}

td.frequency-cell {
  width: 150px;
}

td.format-cell {
  width: 150px;
}

td.action-cell {
  width: 100px;
}

td.action-cell a {
  display: block;
}

td.action-cell a.query-delete-confirm-button, td.action-cell a.query-edit-submit-button {
  display: none;
}
