.query-edit-submit-button, .query-edit-field {
  display: none;
}

#lt-base {
  width: 941px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  margin-top: 20px;
  margin-bottom: 50px;
}

h1 {
  font-size: 30pt; 
}

h2 {
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 5px;
}

#query-list, #new-query {
  margin-bottom: 40px;
}

#new-query-form, table#query-list-table {
  margin-left: 10px;
}

table#query-list-table {
  border-spacing: 5px 5px;
  border-collapse: collapse;
}

#query-list-table {
  width: 935px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#query-list-table td {
  border: 1px solid black; 
  padding: 10px;
  text-align: center;
}

